.landing {
    background: linear-gradient(to bottom, #ADD8E6, #87CEFA);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .btn-container {
    margin-top: 20px;
  }
  